.modal-background {
  height: 100vh;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.83);
}

.pokeball-top {
  height: 51.5vh;
  background-color: #ff3030;
  border-bottom: 22px solid black;
}

.app-title {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.press-here {
  height: 153px;
  width: 153px;
  font-size: 16px;
  border-radius: 50%;
  border: 20px solid black;
  background-color: white;
}
