body {
  font-family: 'Roboto', sans-serif;
}

.pokeball-top {
  height: 51.5vh;
  background-color: #ff3030;
  border-bottom: 22px solid black;
}

.app-title {
  height: 100%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-name {
  text-align: center;
}

.pokeball-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.press-here {
  height: 153px;
  width: 153px;
  font-size: 16px;
  border-radius: 50%;
  border: 20px solid black;
  background-color: white;
}

.press-here:focus {
  outline: none;
}

.modal-background {
  height: 100vh;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.83);
  position: absolute;
  top: 0;
  left: 0;
  padding: 26px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.region {
  text-align: center;
}

.region-button,
.not-caught,
.caught {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  border: none;
}

.search-button {
  background: linear-gradient(180deg, #8f00ff 40.1%, rgba(0, 0, 0, 0) 60%), #fff;
}

.kanto-button {
  background: linear-gradient(180deg, #ff3030 40.63%, rgba(255, 255, 255, 0) 60%), #0085ff;
}

.johto-button {
  background: linear-gradient(180deg, #ffd700 40.63%, rgba(255, 255, 255, 0) 60%), #c0c0c0;
}

.caught-button {
  background: linear-gradient(180deg, #ff3030 40.63%, rgba(255, 255, 255, 0) 60%), #fff;
}

.select {
  text-decoration: underline;
}

.list-container {
  background: rgba(255, 255, 255, 0.75);
  height: 77%;
  width: 86%;
  position: absolute;
  padding: 15px;
  overflow-y: auto;
}

.search-container {
  max-height: 77%;
  width: 86%;
  position: absolute;
  padding: 15px;
  background-color: #f0f0f0;
  font-size: 25px;
  overflow-y: hidden;
}

.search-list-container {
  overflow-y: scroll;
  max-height: 513px;
}

.search-list {
  list-style: none;
  padding: 0;
  padding-bottom: 40px;
  margin-top: 0;
}

li,
input,
.pokemon-name {
  font-size: 25px;
}

li {
  margin-bottom: 5px;
}

input {
  margin-bottom: 15px;
  width: 100%;
}

input:focus {
  outline: none;
}

ol {
  list-style-position: inside;
}

.pokemon-page {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.pokemon-img {
  width: 201px;
}

.pokemon-nt-container {
  margin-top: 15px;
}

.pokemon-types {
  margin: 5px auto;
}

.pokemon-name {
  margin: 0 auto;
}

.pokemon-flavor-text {
  width: 245px;
  height: 84px;
  overflow-y: auto;
  border: 5px ridge;
  padding: 5px;
}

.not-caught,
.caught {
  margin-top: 8px;
}

.not-caught {
  background: radial-gradient(50% 50% at 50% 50%, #fff 84.9%, rgba(255, 255, 255, 0) 100%), #ff3030;
}

.caught {
  background: radial-gradient(50% 50% at 50% 50%, #fff 0%, rgba(255, 255, 255, 0) 100%), #ff3030;
}

.region-button:focus,
.not-caught:focus,
.caught:focus {
  outline: none;
}

.caught-pokemon-img {
  width: 120px;
  margin: 10px 20px;
}

.press-here:hover,
.region-button:hover,
.region-text:hover,
.pokemon-entry:hover,
.caught-pokemon-img:hover,
.caught:hover,
.not-caught:hover {
  cursor: pointer;
}

.region-button:hover,
.not-caught:hover,
.caught:hover,
.press-here:hover {
  background: rgb(243, 243, 133);
}

.loading {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (orientation: landscape) {
  .loading {
    height: 100%;
  }
}

@media screen and (orientation: portrait) {
  .loading {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .list-container {
    height: 75%;
  }

  .pokemon-img {
    width: 150px;
  }

  .search-list {
    padding-bottom: 120px;
    max-height: 75%;
  }
}

@media screen and (width: 568px) {
  .press-here {
    height: 130px;
    width: 130px;
  }
}

@media screen and (min-width: 568px) and (orientation: landscape) {
  .modal-background {
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }

  .button-container {
    flex-direction: column;
    justify-content: space-between;
  }

  .region-button,
  .not-caught,
  .caught {
    height: 45px;
    width: 45px;
  }

  .region-text {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9rem;
  }

  .list-container {
    position: relative;
    height: 100%;
  }

  .column-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .pokemon-page {
    flex-direction: row;
  }

  .column-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .pokemon-flavor-text {
    height: 55%;
    width: 80%;
  }

  .search-container {
    position: static;
    max-height: 100%;
  }

  .search-list-container {
    max-height: 77%;
  }
}

@media screen and (min-width: 812px) and (orientation: landscape) {
  .pokemon-flavor-text {
    font-size: 1.2rem;
  }

  .pokemon-name {
    font-size: 30px;
  }

  .pokemon-types {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .modal-background {
    padding: 25px;
    justify-content: space-around;
  }

  .pokemon-page {
    flex-direction: column;
  }

  .pokemon-img {
    width: 300px;
  }

  .pokemon-name {
    font-size: 40px;
  }

  .pokemon-types {
    font-size: 1.5rem;
  }

  .region-text {
    font-size: 1.5rem;
  }

  .region-button,
  .not-caught,
  .caught {
    height: 60px;
    width: 60px;
  }

  li,
  input {
    font-size: 35px;
  }

  .caught-pokemon-img {
    width: 200px;
  }

  .search-list-container {
    max-height: 630px;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .list-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 80%;
  }

  .button-container {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }

  .region-button,
  .not-caught,
  .caught {
    height: 60px;
    width: 60px;
  }

  li,
  input {
    font-size: 35px;
  }

  .caught-pokemon-img {
    width: 200px;
  }

  .pokemon-img {
    width: 300px;
  }

  .pokemon-name {
    font-size: 40px;
  }

  .pokemon-types {
    font-size: 1.5rem;
  }

  .pokemon-flavor-text {
    width: 320px;
    height: 140px;
    border: 10px ridge;
    font-size: 1.5rem;
  }

  .search-container {
    top: 20%;
    left: 7%;
    max-height: 75%;
  }
}
